@import "_custom-properties.css";

.ab-button {
	background-color: transparent;
	border: 1px solid;
	border-color: var(--global-font-color);
	border-radius: 0;
	color: var(--global-font-color);
}

.wp-block-atomic-blocks-ab-button.is-style-primary .ab-button {
	background-color: var(--color-theme-primary);
}

.wp-block-atomic-blocks-ab-button.is-style-secondary .ab-button {
	background-color: var(--color-theme-secondary);
}
